.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-pane {
    -fx-padding: 20;
    -fx-border-width: 20;
    -fx-border-radius: 20;
}

.scroll-pane > .viewport  {
    -fx-background-color: WHITE;
    /*-fx-padding: 20;*/
    /*-fx-border-width: 20;*/
    /*-fx-border-radius: 20;*/

}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}
/*.list-cell:even*/
.list-cell{
    -fx-background-color: white;
}

.list-cell:filled:hover {
    /*-fx-background-color: #0093ff;*/
    /*-fx-text-fill: white;*/
}

.check-box > .box{
    /*the color of the in box checkbox*/
    -fx-background-color: transparent;
    /*the color of the border*/
    -fx-border-color: gray;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: red;
}
.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: transparent;

}

/*.check-box .mark {
    -fx-shape:
            "M2,0L5,4L8,0L10,0L10,2L6,5L10,8L10,10L8,10L5,6L2,10L0,10L0,8L4,5L0,2L0,0Z";
}*/

.text-field{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

