.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-weight: bold;
}

.scroll-pane > .viewport  {
    -fx-background-color: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: yellow;
    -fx-font-style: italic;

}


.list-cell{
    /*color for code lines*/
    -fx-background-color: white;

}

.tool-bar{
    -fx-background-color: skyblue;
}

.button , .menu-bar, .menu,.menu-item{
    -fx-text-fill: white;
    -fx-background-color: skyblue;
}

.table-view{
    -fx-selection-bar: yellow;
}

.tree-table-cell {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-background-color: tomato;
}

.check-box > .box{
    /*the color of the in box checkbox*/
    -fx-background-color: transparent;
    /*the color of the border*/
    -fx-border-color: gray;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: lightcoral;
}
.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: transparent;

}

/*.check-box .mark {
    -fx-shape:
            "M2,0L5,4L8,0L10,0L10,2L6,5L10,8L10,10L8,10L5,6L2,10L0,10L0,8L4,5L0,2L0,0Z";
}*/

.text-field{
    -fx-background-color: transparent;
    -fx-text-fill: red;
}

.table-view > .list-view{
    -fx-background-color: darkseagreen;
}

table-cell {
    -fx-background-color: darkseagreen;
    -fx-font-family: "Times New Roman";
    -fx-font-style: italic;
}

.table-view >.viewport{
    -fx-background-color: darkseagreen;
}